* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/*------Header Section------*/

header {
    display: flex;
    justify-content: space-evenly;
    background-color: #2874f0;
    width: 100%;
    height: 56px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.header-left {
    width: 20%;
    text-align: right;
    margin: 5px 0px;
    cursor: pointer;
}

.header-left a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1.5px;
}

.header-left-p a {
    font-size: 10px;
    letter-spacing: 1.5px;
}

.header-left-p span {
    color: yellow;
    font-size: 10px;
    letter-spacing: 1px;
}

.header-left-p:hover {
    text-decoration: underline;
    color: white;
}

.header-center {
    width: 40%;
    text-align: left;
    line-height: 50px;
    cursor: pointer;
    padding-left: 20px;
    position: relative;
}

.header-center-input {
    margin-top: 10px;
    height: 36px;
    width: 100%;
    border: none;
    text-align: left;
    padding-left: 13px;
    cursor: auto;
    border-radius: 2px;
}

.fa-magnifying-glass {
    position: absolute;
    top: 33%;
    left: 94%;
    font-size: 18px;
    color: #2874f0;
}


/*------Login Button------*/

.login {
    position: relative;
    left: -10px;
    margin-top: 18px;
}

.login-btn {
    color: #2874f0;
    border-radius: 2px;
    border: 1px solid white;
    background: white;
    height: 32px;
    letter-spacing: 1px;
    padding: 6px 40px;
    font-weight: bold;
    margin: 0px 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}

.more {
    position: relative;
    margin-top: 19px;
    right: 8px;
}

.cart {
    margin-top: 17px;
    margin-right: 60px;
}

.none {
    display: none;
}

.flex {
    display: flex;
}

.more-icon {
    color: #2874f0;
    margin-left: 1px;
    padding: 15pxpx;
}

.more_lan {
    position: relative;
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 15px;
}

.pointer {
    width: 20px;
    height: 20px;
    background: black;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    left: 80%;
}

.fa-angle-down:hover {
    transform: rotate(180deg);
}

.more_dropdown,
.login_dropdown {
    position: relative;
    top: 12px;
}

.login_dropdown_list,
.more_dropdown_list {
    position: absolute;
    cursor: pointer;
    background: transparent;
    list-style: none;
    background-color: white;
    width: max-content;
    box-shadow: 0 4px 16px - rgb(0 0 0 / 20%);
    min-width: 240px;
    transform: translate(-50%);
    text-emphasis-position: none;
}

.login_drop_li {
    /* padding: 16px 20px;
    border-radius: 1px solid white;
    font-size: 14px;
    cursor: pointer; */
    z-index: -1;
}

.login_drop_li .fa-solid {
    color: #2874f0;
    /* padding-right: 10px; */
}

.login_drop_li:hover {
    background: white;
}


/* .login_drop_li:first-child {
    /* padding: 20px; 
}

.login_drop_li:last-child {
     padding: 20px; 
}*/

.login:hover .login_dropdown,
.more:hover .more_dropdown {
    display: block;
}

.signup:hover {
    text-decoration: none;
}

.sign_Li {
    justify-content: space-between;
    /* font-size: 14px; */
}

.new_login {
    font-weight: bold;
}

.cart_lan .fa-cart-shopping {
    padding-right: 90px;
    padding-top: 20px;
    color: white;
    cursor: pointer;
}

.go_DOp {
    padding-left: -10px;
    padding-top: 20px;
    color: #fff;
    cursor: auto;
    position: relative;
    right: 15px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500%;
}

.category-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin-top: 10px;
    text-align: center;
}

.category-col {
    padding: 10px 0;
    cursor: pointer;
    color: rgb(85, 83, 83);
}

.category-col img {
    width: 64px;
    height: 64px;
}

.category-col h5:hover {
    color: #2874f0;
}


/*-------Category_Dropdown_section------*/

.dropdown {
    background-color: rgb(221, 223, 224);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content .header {
    background: gainsboro;
    padding: 0px;
    color: white;
}

.col {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: white;
    height: auto;
}

.col a {
    float: left;
    color: black;
    padding: 8px;
    border-radius: 2px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.col a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*------Banner Section------*/

.container {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
}

.swiper {
    width: 80%;
    height: fit-content;
}

.swiper-slide img {
    width: 100%;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* /------Header Section------/ */

header {
    display: flex;
    justify-content: center;
    background-color: #2874f0;
    width: 100%;
    height: 56px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.header-left {
    width: 20%;
    text-align: right;
    margin: 5px 0px;
    cursor: pointer;
}

.header-left a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1.5px;
}

.header-left-p a {
    font-size: 10px;
    letter-spacing: 1.5px;
}

.header-left-p span {
    color: yellow;
    font-size: 10px;
    letter-spacing: 1px;
}

.header-left-p:hover {
    text-decoration: underline;
    color: white;
}

.header-center {
    width: 40%;
    text-align: left;
    line-height: 50px;
    cursor: pointer;
    padding-left: 20px;
    position: relative;
}

.header-center-input {
    margin-top: 10px;
    height: 36px;
    width: 100%;
    border: none;
    text-align: left;
    padding-left: 13px;
    cursor: auto;
    border-radius: 2px;
}

.fa-magnifying-glass {
    position: absolute;
    top: 33%;
    left: 94%;
    font-size: 18px;
    color: #2874f0;
}


/* /------Login Button------/ */

.login {
    position: relative;
    left: -10px;
    margin-top: 18px;
}

.login-btn {
    color: #2874f0;
    border-radius: 2px;
    border: 1px solid white;
    background: white;
    height: 32px;
    letter-spacing: 1px;
    padding: 6px 40px;
    font-weight: bold;
    margin: 0px 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}

.more {
    position: relative;
    margin-top: 19px;
    right: 8px;
}

.cart {
    margin-top: 17px;
    margin-right: 60px;
}

.none {
    display: none;
}

.flex {
    display: flex;
}

.more-icon {
    color: #2874f0;
    margin-left: 1px;
    padding: 15pxpx;
}

.more_lan {
    position: relative;
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 15px;
}

.pointer {
    width: 20px;
    height: 20px;
    background: black;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    left: 80%;
}

.fa-angle-down:hover {
    transform: rotate(180deg);
}

.more_dropdown,
.login_dropdown {
    position: relative;
    top: 12px;
}

.login_dropdown_list,
.more_dropdown_list {
    position: absolute;
    list-style: none;
    background-color: white;
    width: max-content;
    box-shadow: 0 4px 16px - rgb(0 0 0 / 20%);
    min-width: 240px;
}

.login_drop_li {
    padding: 16px 20px;
    border-radius: 1px solid white;
    font-size: 14px;
    cursor: pointer;
}

.login_drop_li .fa-solid {
    color: #2874f0;
    padding-right: 10px;
}

.login_drop_li:hover {
    background: white;
}

.login_drop_li:first-child {
    padding: 20px;
}

.login_drop_li:last-child {
    padding: 20px;
}

.login:hover .login_dropdown,
.more:hover .more_dropdown {
    display: block;
}

.signup:hover {
    text-decoration: none;
}

.sign_Li {
    justify-content: space-between;
    font-size: 14px;
}

.new_login {
    font-weight: bold;
}

.cart_lan .fa-cart-shopping {
    padding-right: 90px;
    padding-top: 20px;
    color: white;
    cursor: pointer;
}

.go_DOp {
    padding-left: -10px;
    padding-top: 20px;
    color: #fff;
    cursor: auto;
    position: relative;
    right: 15px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500%;
}

.category-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin-top: 10px;
    text-align: center;
}

.category-col {
    padding: 10px 0;
    cursor: pointer;
    color: rgb(85, 83, 83);
}

.category-col img {
    width: 64px;
    height: 64px;
}

.category-col h5:hover {
    color: #2874f0;
}


/* /-------Category_Dropdown_section------/ */

.dropdown {
    background-color: rgb(221, 223, 224);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content .header {
    background: gainsboro;
    padding: 0px;
    color: white;
}

.col {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: white;
    height: auto;
}

.col a {
    float: left;
    color: black;
    padding: 8px;
    border-radius: 2px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.col a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* /------Banner Section------/ */

.banner {
    width: 100%;
    height: 50vh;
    min-width: 500px;
    overflow: hidden;
}

.slider {
    display: flex;
    flex-direction: row;
    position: relative;
    animation-name: slider;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    transition-delay: 2s;
}

.slider img {
    width: 350vh;
    height: 50vh;
    transform: translate(0%);
    position: relative;
    padding: 20px 20px;
    display: flex;
}

@keyframes slider {
    0% {
        left: 0px;
    }
    20% {
        left: -1000px;
    }
    40% {
        left: -1520px;
    }
    60% {
        left: -3040px;
    }
    80% {
        left: -4560px;
    }
    100% {
        left: -6080;
    }
}


/*----------Means Clothing-----------*/

.card {
    box-shadow: rgb(177, 174, 174) 0px 0px 5px 1px;
    padding: 0px 10px;
    margin: 0px 2px;
    border-radius: 5px;
}

.common-heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 5px;
    margin-top: 10px;
    margin-bottom: 1px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 /16%);
}

.common-heading-left {
    font-size: 15px;
    font-weight: 400;
    /*     padding: auto; */
}

.common-heading-right button {
    width: 120px;
    height: 40px;
    font-size: 17px;
    background-color: #2874f0;
    border: none;
    color: white;
    border-radius: 2px;
    text-align: center;
}

.common-row {
    display: block;
    justify-content: space-evenly;
    width: -10%;
    max-width: 366px;
    margin: 10px 0px;
}

.common-col {
    text-align: center;
    line-height: 22px;
}

.common-col img {
    width: 140px;
    height: 150px;
    transition: 300ms;
}

.common-col img:hover {
    transform: scale(1.1);
}

.common-col h3 h4 h6 {
    font-size: 14px;
    line-height: 1.38;
    font-weight: 200;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
}

.common-col h1 {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 100;
}

.common-col h4 {
    color: green;
    font-size: 14px;
    font-weight: 300;
}

.common-col h6 {
    color: gray;
    font-size: 12px;
    font-weight: 100;
}

.col-mens img {
    width: 125px;
    height: 110px;
}

.common-row-col-mens {
    display: flex;
}

#add-cart img {
    width: 125px;
    height: 140;
}


/*--------------Trending Offer ------------*/

.col-trending img {
    width: 125px;
    height: 130px;
}

.common-row-col-trending {
    display: flex;
}

#add-cart img {
    width: 125px;
    height: 140;
}


/*--------------Furniture ------------*/

.col-furniture img {
    width: 125px;
    height: 130px;
}

.common-row-col-furniture {
    display: flex;
}

#add-cart img {
    width: 125px;
    height: 140;
}


/*--------------Common for all items------------*/

.col-deals img {
    width: 125px;
    height: 130px;
}

.common-row-col-deals {
    display: flex;
}

#add-cart img {
    width: 125px;
    height: 140;
}


/*--------------Mobiles------------*/

.col-mobile img {
    width: 145px;
    height: 110px;
}

.common-row-col-mobile {
    display: flex;
}

#add-cart img {
    width: 125px;
    height: 140;
}


/*--------------Electronic items------------*/

.col-electronic img {
    width: 165px;
    height: 100px;
}

.common-row-col-electronic {
    display: flex;
}


/*--------------Fashion Mens------------*/

.col-fashion img {
    width: 135px;
    height: 150px;
}

.common-row-col-fashion {
    display: flex;
}


/*--------------Beauty, Food, Toys & More items------------*/

.col-beauty img {
    width: 135px;
    height: 140px;
}

.common-row-col-beauty {
    display: flex;
}


/*--------------Footer------------*/

footer {
    background-color: #172337;
    height: 332px;
}

.footer-row {
    display: block;
    width: 100%;
    height: 300px;
    display: flex;
    padding: 10px 40px;
    margin-bottom: 12px;
}

.footer-row2 {
    display: flex;
    border-top: -.1px solid #454d5e;
    justify-content: space-evenly;
    background-color: #172337;
    margin-top: 17.5%;
    width: 100%;
    padding: 0px 10px;
}

.footer-row2-col {
    width: 100%;
    padding: 5px 0px;
}

.footer-col-1 {
    width: 15%;
}

.footer-col-2 {
    width: 15%;
}

.footer-col-3 {
    width: 15%;
}

.footer-col-4 {
    width: 15%;
}

.footer-col-5 {
    margin-bottom: 15px;
    width: 80%;
    border-left: .1px solid #454d45;
    height: 10px;
    padding: 12px;
    margin-right: -15%;
}

.footer-col-6 {
    margin-bottom: 15%;
    width: 100%;
    border-left: -.5px solid #454d45;
    height: 10px;
    padding: 0px 200px;
    margin-right: -90%;
}

.footer-heading p {
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px 30px;
    text-align: left;
    padding: 7px 65px;
    cursor: pointer;
    text-transform: uppercase;
}

.footer-list a {
    text-align: left;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-size: 12px;
    font-weight: 400;
    padding: 7px 20px;
}

.footer-list a:hover {
    text-decoration: underline;
}

.footer-list p {
    text-align: left;
    display: block;
    color: white;
    font-size: 12px;
    font-weight: 170px;
    padding: 5px 40px;
    line-height: 20px;
    cursor: pointer;
}

.footer-list-address p {
    text-align: left;
    display: block;
    color: white;
    font-size: 12px;
    font-weight: 100px;
    line-height: 20px;
    cursor: pointer;
}

.footer-list-address span {
    color: #2874f0;
    cursor: pointer;
}

.footer-row2-col p {
    color: white;
    font-size: 13px;
    /* font-weight: 100px;
    line-height: 10px;
    padding: 0px 60px;
    margin-top: 5px 15px;
    cursor: pointer;
    text-align: left;
    line-height: 15px;
    letter-spacing: .7px; */
    box-sizing: border-box;
    border-top: 1px solid #454d5e;
    padding-right: 75px;
    margin-top: 7px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fa-shopping-bag,
.fa-star,
.fa-gift,
.fa-question-circle {
    color: yellow;
    cursor: pointer;
    padding: 0px 15px;
    font-size: 13px;
    margin-left: 8px;
    display: block;
    justify-content: space-between;
}

.footer-row2-col img {
    padding-top: 10%;
}